.left-nav {
  padding: 0px;
  min-width: 0px;
  max-width: 0px;
  overflow: hidden;
  white-space: nowrap;
}

@media (min-width: 901px) {
  .left-nav {
    min-width: 220px;
    padding: 10px 16px 16px 20px;
    white-space: nowrap;
    //border:1px solid green;
  }
}

.nav-body {
  overflow: hidden;
}
