.left-nav {
  overflow: hidden;
  padding: 0px;
  min-width: 0px;
  max-width: 0px;
  white-space: nowrap;
}

@media (min-width: 1025px) {
  .left-nav {
    min-width: 220px;
    padding: 10px 16px 16px 20px;
    white-space: nowrap;
  }
}

.nav-body {
  overflow: hidden;
}
