{
  //"extends": ["react-app", "plugin:jsx-a11y/recommended"],
  "extends": ["react-app"],
  //"plugins": ["jsx-a11y"]
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error"
  }
}