.title-text {
  font-size: large;
  font-weight: bold;
  color: #444;
}

.category-text {
  font-size: medium;
  font-weight: bold;
  color: #333
}

.menu-icon-div {
  display:block
}

@media (min-width: 1025px) {
  .category-text {
    font-size: large;
  }

  .menu-icon-div{
    display:none
  }
}
