.book-card {
  display: flex;
  flex-direction: column;
  margin: .5rem;
  background-color: #FFF;
  border-radius: 2px;
}
.book-card-image, .book-t-r-d, .rank-div {
  display: none;
  //border: 1px solid green;
}

.rank-text {
  color: #444;
  font-size: x-large;
}

.book-title-and-ratings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}




//MOBILE
.book-card-header-mob {
  display: flex;
  padding: .5rem;
  //border: 1px solid red;
}

.book-card-title-mob {
  margin-left: 1rem;
  margin-top: -8px;
}

.book-card-description-mob {
  padding: .5rem;
}

.book-card-footer-mob, .book-card-footer {
  display: flex;
  justify-content: flex-end;
  //border: 1px solid red;
}


@media (min-width: 769px) {
  .book-card {
    flex-direction: row;
    box-shadow: none;
    border-bottom: 1px solid gray;
  }
  .book-card-header-mob, .book-card-description-mob,  .book-card-footer-mob {
    display: none;
  }
  .book-card-image {
    display: flex;
  }
  .book-t-r-d {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
  }
  .rank-div {
    display: flex;
    min-width: 30px;
  }
}
