html {
  box-sizing: border-box;
  background-color: #e5e5e5;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

@media (min-width: 901px) {
  html{
    background-color: #FFF;
  }

}
